.system-message-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
}

.system-message {
/*	font-family: "Comic Sans MS", sans-serif;*/
	color: #FCFCFC;
	padding: 15px 15px;
	width: 90%;
}

.system-message-errorbox {
	color: red;
	padding: 15px 15px;
}

.system-message-messagebox {
	margin-top: 20px;
}

.system-message-messagebox strong {
	font-weight: 500;
}

.system-message-messagebox h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
}