.thinkbox-container {
}

.thinkbox-box {
	display: flex;
	flex-direction: column;
	gap: 10px;
	border: 2px solid;
	border-radius: 20px;
	border-color: #323537;
	padding: 15px 15px;
}

.thought-seconds {
	font-weight: 300;
}

.thinkbox-box-toprow {
	display: flex;
	justify-content: space-between;
}

.thinkbox-box-midrow {
	display: flex;
	justify-content: space-between;
}

.thinkbox-timer {
	display: flex;
	justify-content: flex-start;
	gap: 5px;
}

.thinkbox-expand-collapse {
	display: flex;
	justify-content: flex-end;
}

.thinkbox-expand-collapse-text {
	display: flex;
	justify-content: flex-start;
	font-size: 0.9rem;
	color: #bfbfbf;
	font-weight: 600;
}

.thinkbox-thought {
	margin-top: 10px;
	font-size: 0.9rem;
	opacity: 0.9;
}

.thinkbox-box-thought-container {
	overflow: hidden;
	transition: all 0.3s ease-in-out;
}

.thinkbox-thought-ongoing {
	font-size: 0.9rem;
	font-weight: 500;
	opacity: 0;
	min-height: 200px;
	animation: textFade 1.5s ease-in forwards;
}

@keyframes textFade {
	to {
		opacity: 0.7;
	}
}

.thinkbox-thought-ongoing-container {
	overflow: hidden;
	height: 150px;
}

.thinkbox-row-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
	cursor: pointer;
}

.thinkbox-thought-ongoing-container-container {
	position: relative;
	transition: all 0.3s ease-in-out;
}


.thinkbox-thought-ongoing-container-container.invisible{
	opacity: 0;
}

.thinkbox-thought-ongoing-container-container.visible{
	opacity: 1;
}

.thinkbox-thought-ongoing-container-container::before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	height: 40px;
	z-index: 1;
}

.thinkbox-thought-ongoing-container-container::after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	height: 40px;
	z-index: 1;
}

.thinkbox-thought-ongoing-container-container::before {
	top: 0;
	background: -webkit-linear-gradient(top, #1F2123, rgba(0, 0, 0, 0));
}

.thinkbox-thought-ongoing-container-container::after {
	bottom: 0;
	background: -webkit-linear-gradient(bottom, #1F2123, rgba(0, 0, 0, 0));
}