.thinkbox-container {
	width: 100%;
}

.thinkbox-box {
	display: flex;
	flex-direction: column;
	gap: 10px;
	border: 2px solid;
	border-radius: 20px;
	border-color: #323537;
	padding: 15px 15px;
	width: 100%;
}

.thought-seconds {
	font-weight: 300;
}

.thinkbox-box-toprow {
	display: flex;
	justify-content: space-between;
	cursor: pointer;
}

.thinkbox-box-midrow {
	display: flex;
	justify-content: space-between;
	cursor: pointer;
}

.thinkbox-timer {
	display: flex;
	justify-content: flex-start;
}

.thinkbox-expand-collapse {
	display: flex;
	justify-content: flex-end;
}

.thinkbox-expand-collapse-text {
	display: flex;
	justify-content: flex-start;
	font-size: 0.9rem;
	color: #bfbfbf;
	font-weight: 600;
}

.thinkbox-thought {
	margin-top: 10px;
}

.thinkbox-box-thought-container {
	overflow: hidden;
	transition: all 0.3s ease-in-out;
}

.thinkbox-thought-ongoing {
	font-size: 0.9rem;
	font-weight: 500;
	opacity: 0.8;
	height: 150px;
	overflow: scroll;
}

.thinkbox-thought-ongoing::-webkit-scrollbar {
	display: none;
}

.thinkbox-thought-ongoing-container {
	position: relative;
	transition: opacity 1s ease-out
}

.thinkbox-thought-ongoing-container.invisible{
	opacity: 0;
}

.thinkbox-thought-ongoing-container.visible{
	opacity: 1;
}

.thinkbox-thought-ongoing-container::before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	height: 30px;

}

.thinkbox-thought-ongoing-container::after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	height: 30px;
}

.thinkbox-thought-ongoing-container::before {
	top: 0;
	background: linear-gradient(to bottom, #1F2123, rgba(0, 0, 0, 0));
}

.thinkbox-thought-ongoing-container::after {
	bottom: 0;
	background: linear-gradient(to top, #1F2123, rgba(0, 0, 0, 0));
}