.user-message-container {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	width: 100%;
}

.user-message {
	color: #FCFCFC;
	background-color: #2D3033;
	border-radius: 15px 15px 0 15px;
	padding: 15px 15px;
	max-width: 70%;
	margin: 10px 10px;
}

.user-message p {
	margin: 0;
}