.container {
  display: flex;
  flex-direction: column;
  margin: auto auto;
  height: 100vh;
  justify-content: center;
}

.logo-full {
  position: absolute;
  cursor: pointer;
  left: 30px;
  top: 30px;
}
.logo-full img{
  height: 60px;
}

.logo-small {
  position: absolute;
  cursor: pointer;
  left: 30px;
  top: 30px;
  display: none;
}

.logo-small img{
  height: 60px;
}

body {
  background-color: #1F2123;
  font-family: "Inter", sans-serif;
}

textarea {
  font-family: "Inter", sans-serif;
}

@media(max-width: 1150px) {
  .logo-full {
    display: none;
  }

  .logo-small {
    display: block;
  }
}

@media(max-width: 950px) {
  .logo-full {
    display: none;
  }

  .logo-small {
    display: none;
  }
}

